@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

h3 {
  margin-bottom: 14px;
  font-size: 22px;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(#29323C), to(#485563));
  background: -o-linear-gradient(left, #29323C 0%, #485563 100%);
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: -o-linear-gradient(331.62deg, #29323C -4.6%, #485563 200.44%);
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  -webkit-box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
          box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: -webkit-gradient(linear, left top, right top, from(#16D9E3), color-stop(47%, #30C7EC), to(#46AEF7));
  background: -o-linear-gradient(left, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}